<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="StudentManagementDB" 
             connectionString="Server=localhost;Database=student_management;Uid=root;Pwd=;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>